{% extends 'admin/model/list.html' %}

{% block model_menu_bar %}
{{ super() }}

    <div class="col-md-4">
        <form name="importForm col-md-12" id="importForm" method="post"  enctype="multipart/form-data" class="form-inline" action="import">
            <div class="form-group col-md-8">
                <input type="file" class="form-control" name="files">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="form-control btn btn-success">Upload</button>
            </div>

        </form>
    </div>
    <div class="col-md-8">
        <form class="form-inline col-md-12" name="importForm" id="importForm" method="get" action="export">
            <div class="form-group">
                Start
                <input class="form-control" required="true" type="number" min="0" name="startIndex">
            </div>
            <div class="form-group">
                End
                <input class="form-control" type="number" required="true" name="endIndex">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Export File</button>
            </div>
        </form>
    </div>


{% endblock %}
